CSVDynamicParser.Common/obj/
CSVDynamicParser.Core/bin/
CSVDynamicParser.Core/obj/
CSVDynamicParser.Servies/bin/
CSVDynamicParser.Servies/obj/
CSVDynamicParser.ViewModel/obj/
CSVDynamicParser.Web/bin/
packages/
CSVDynamicParser.Web/obj/
CSVDynamicParser.Web.Tests/obj/
.vs/
CSVDynamicParser/bin/
CSVDynamicParser/obj/
CSVDynamicParser.Tests/obj/
CSVDynamicParser.DbAccessor/obj/
CSVDynamicParser.Common/bin/
CSVDynamicParser.ViewModel/bin/
